[Unit]
Description=Portpub Local
After=network-online.target

[Service]
Type=simple
# Fill in your parameters in /etc/portpub.d/ and uncomment
EnvironmentFile=-/etc/portpub.d/%i
EnvironmentFile=-%h/.config/portpub/%i
ExecStart=/usr/bin/portpub-local ${LOCAL}:${LOCALPORT} ${SERVER}:${SERVERPORT} ${PASSWORD}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
